.domainr-results-container {
  position: relative;
  width: 100%;
  text-align: left;
  text-shadow: none;
  z-index: 99999;
}

.domainr-results {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
  border: 1px solid #ccc;
  padding: 0 1px;
  background: white;
  color: #666;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  line-height: 1.25em;
}

.domainr-result {
  position: relative;
  cursor: pointer;
  margin: 1px 0;
  border-radius: 1px;
  padding: 2px 8px;
}

.domainr-result:after {
  float: right;
  opacity: 0.5;
  font-weight: normal;
  font-size: 60%;
  line-height: inherit;
}

.domainr-result:hover,
.domainr-result.selected {
  background-color: #eee;
}

.domainr-results .active,
.domainr-results .claimed,
.domainr-results .reserved {
  color: #006699;
}

.domainr-results .reserved:after {
  content: "reserved";
}

.domainr-results .inactive:not(.reserved) {
  color: #009900;
  background: #eeffee;
}

.domainr-results .inactive:not(.reserved):hover,
.domainr-results .inactive:not(.reserved).selected {
  background: #ddeedd;
}

.domainr-results .inactive:not(.reserved):not(.premium):after {
  content: "available";
}

.domainr-results .pending:not(.disallowed):not(.invalid):not(.unregistrable):not(.zone):not(.suffix):after {
  content: "new";
}

.domainr-results .priced,
.domainr-results .transferable,
.domainr-results .marketed {
  color: #009900;
}

.domainr-results .priced:after,
.domainr-results .transferable:after,
.domainr-results .marketed:after {
  content: "for sale";
}

.domainr-results .priced,
.domainr-results .transferable {
  background: #eeffee;
}

.domainr-results .priced:hover,
.domainr-results .transferable:hover,
.domainr-results .priced.selected,
.domainr-results .transferable.selected {
  background: #ddeedd;
}

.domainr-results .expiring,
.domainr-results .deleting {
  color: #f79a0f;
  background-color: #fef4e7;
}

.domainr-results .expiring:hover,
.domainr-results .deleting:hover,
.domainr-results .expiring.selected,
.domainr-results .deleting.selected {
  background-color: #f2e8dc;
}

.domainr-results .expiring:after,
.domainr-results .deleting:after {
  content: "expiring";
}

.domainr-results .premium {
  color: #009900;
  background: #eeffee;
}

.domainr-results .premium:hover,
.domainr-results .premium.selected {
  background: #ddeedd;
}

.domainr-results .premium:after {
  content: "premium";
}

.domainr-results .parked:not(.marketed):after {
  content: "parked";
}

.domainr-results .unregistrable,
.domainr-results .disallowed,
.domainr-results .invalid,
.domainr-results .unknown {
  color: rgba(0, 0, 0, 0.3);
}

.domainr-results .tld,
.domainr-results .zone,
.domainr-results .registry,
.domainr-results .registrar {
  font-weight: bold;
  color: #333333;
}

.domainr-results .zone span.domainr-result-domain:before {
  content: ".";
  display: inline-block;
  position: relative;
  left: -0.3em;
  width: 0;
}
